* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style */

.btn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
}

/* Main Style */
nav {
    width: 81%;
    max-width: 1370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto;
}

.logo img {
    width: 140px;
    cursor: pointer;
}

.menu ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.menu ul li a {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.menu ul li a:hover{
    color: #30B868;
    transition: 0.3s;
}

.Banner {
    height: 100vh;
    background:
        linear-gradient(rgba(8, 24, 40, 0.4), rgba(8, 24, 40, 0.4)),
        url("assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Banner .banner-content{
    width: 81%;
    max-width: 1370px;
    text-align: center;
    color: white;
    padding: 16px 0;
}

.banner-content .badge{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    background-color: white;
    padding: 8px 12px;
    border-radius: 20px;
    margin-bottom: 16px;
}

.banner-content h1 , .bold{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}

.banner-content .bold{
    color: #30B868;
}

.banner-content p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.button{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.btn-2{
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 9px 16px;
    background-color: #00000000;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.btn:hover{
     background: #2fc673;
     transition: 0.3s;
}

.btn-2:hover{
    background: #ffffff22;
    transition: 0.3s;
}

.card-section{
    width: 81%;
    max-width: 1370px;
    margin: 70px auto 0;
}

.section-heading{
    text-align: center;
}

.section-heading h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.section-heading p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}

.card-description{
    display: flex;
    gap: 24px;
}

.card{
    max-width: 322px;
    padding: 24px;
    text-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.252);
}

.card img{
    background-color: #F95555;
    margin-top: 69px;
    padding: 9px;
    border-radius: 50%;
}

.card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.struct-section{
    width: 81%;
    max-width: 1370px;
    margin: 120px auto 0;
    display: flex;
    align-items: center;
    gap: 60px;
}

.image-section{
    width: 600px;
}

.image-section img{
    width: 100%;
}

.content-section span{
    font-size: 16;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #30B868;
}

.content-section h2{
    font-size: 48px;
    font-weight: bold;
    color:#001931;
    margin-bottom: 16px;
}

.content-section .ok{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.content p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;
}

.special{
    margin-top: 120px;
}

.special-section{
    width: 81%;
    max-width: 1370px;
    margin: 0 auto 120px;
    background-color: #F7F6F2;
    justify-content: center;
    text-align: center;
    padding: 80px 0;
}

.special-section h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.special-section p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.button{
    margin-bottom: 16px;
}

footer{
    background-color: #001931;
    padding-top: 120px;
    padding-bottom: 30px;
    color: white;
}

.footer-section{
    width: 81%;
    max-width: 1370px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    align-items: center;
}

.footer-section .logo{
    height: 60px;
}

.footer-section .icons h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}

.footer-section .icons i{
    margin-right: 16px;
}

.foot-section{
    width: 82%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.foot-section > hr{
    margin-bottom: 30px;
}